In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

from scipy import stats

import sklearn.model_selection
import sklearn.metrics
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import make_scorer, recall_score, confusion_matrix, ConfusionMatrixDisplay, f1_score
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

from xgboost import XGBClassifier

import wrangle as wr
import explore as ex
import model as m

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
pd.options.display.max_columns = None

# Acquisition (Getting the data)

In [2]:
df, cat_cols, num_cols = wr.prep_telco_data()

In [3]:
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,1,No,Yes,Yes,63,No,No phone service,No,Yes,Yes,Yes,No,No,No,39.35,2395.05,0,Two year,DSL,auto
1,1,No,Yes,Yes,54,Yes,Yes,Yes,Yes,No,Yes,No,No,Yes,65.65,3566.70,0,Two year,DSL,auto
2,1,No,Yes,No,13,Yes,Yes,No,No,Yes,No,Yes,Yes,Yes,75.30,989.45,1,One year,DSL,manual
3,0,No,No,No,28,Yes,Yes,No,No,No,Yes,No,No,Yes,54.90,1505.15,0,Month-to-month,DSL,auto
4,0,No,Yes,No,40,Yes,Yes,No,Yes,No,No,Yes,No,No,63.90,2635.00,0,One year,DSL,auto

In [4]:
cat_cols, num_cols

(['senior_citizen',
  'partner',
  'dependents',
  'phone_service',
  'multiple_lines',
  'online_security',
  'online_backup',
  'device_protection',
  'tech_support',
  'streaming_tv',
  'streaming_movies',
  'paperless_billing',
  'contract_type',
  'internet_service_type',
  'payment_type'],
 ['tenure', 'monthly_charges', 'total_charges'])

# Preparation (Preparing the data, all the way up to the train/val/test split)

In [5]:
train, validate, test = wr.df_splits(df, 'churn')

(4219, 20) (1687, 20) (1126, 20)

# Exploration and Preprocessing (visualizations, statistical tests, feature engineering, and feature selection)

In [6]:
cat_cols

['senior_citizen',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'contract_type',
 'internet_service_type',
 'payment_type']

# Modeling

# Conclusions